* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MaplestoryBold";
  src: url("/public/fonts/Maplestory\ OTF\ Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryLight";
  src: url("/public/fonts/Maplestory\ OTF\ Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
